.listWrap {
  margin-left: 12px;
  display: flex;
  gap: 8px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.link {
  width: calc((100% - 48px) / 4);
  color: black;
  box-shadow: 0 4px 4px rgb(118, 114, 121);
}
.link:hover,
.link:focus,
.link:active {
  color: #f22c3d;
  text-decoration: underline;
}
.poster {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}
.name {
  margin-bottom: 8px;
  text-align: center;
  padding: 8px;
}
